@model Feedbacks.ViewModels.Services.ServiceViewModel;

<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
    
        <form asp-action="Index" method="post">
        <div>
            <label asp-for=@Model.ServiceName></label>
            <input asp-for=@Model.ServiceName />
        </div>
        <button type="submit">Submit</button>
        </form>
    </body>
</html>
